In [1]:
import pandas as pd
import sqlite3
import requests, json

In [2]:
conn = sqlite3.connect('scrap_game.db')
c = conn.cursor()

In [3]:
c.execute("SELECT platform, COUNT(platform) FROM release_details GROUP BY platform;")
count = c.fetchall()

In [4]:
df = pd.read_sql_query("SELECT platform, COUNT(platform) FROM release_details GROUP BY platform;", conn)
df = df.rename(columns={'COUNT(platform)': 'pourcent', "platform" : "name"})
d = df.to_dict('records')

In [10]:
df2 = pd.read_sql_query("SELECT title, type, release_date, price, publisher, platform FROM games JOIN games_details ON games_details.game_id = games.id JOIN release_details ON release_details.game_id = games.id;", conn)
df2['release_date'] = pd.to_datetime(df2['release_date'], format='%d/%m/%Y', errors='coerce')
df2 = df2.set_index('title')

In [11]:
html = df2.to_html()
text_file = open("table.html", "w")
text_file.write(html)
text_file.close()

In [7]:
df3 = pd.read_sql_query("SELECT type, COUNT(type) FROM games GROUP BY type;", conn)
df3 = df3.rename(columns={'COUNT(type)': 'nombres', "type" : "genre"})
d = df3.to_dict('records')
d

[{'genre': 'Action', 'nombres': 1},
 {'genre': 'Action-Aventure', 'nombres': 11},
 {'genre': 'Basket', 'nombres': 1},
 {'genre': "Beat'em Up", 'nombres': 2},
 {'genre': 'Combat', 'nombres': 2},
 {'genre': 'Course', 'nombres': 5},
 {'genre': 'Course Kart', 'nombres': 1},
 {'genre': 'Course Moto ', 'nombres': 2},
 {'genre': 'Divers', 'nombres': 1},
 {'genre': 'FPS', 'nombres': 4},
 {'genre': 'Football', 'nombres': 3},
 {'genre': 'Gestion', 'nombres': 5},
 {'genre': 'Jeux de rôles', 'nombres': 2},
 {'genre': 'Plates-formes', 'nombres': 8},
 {'genre': 'RPG - Tour par tour', 'nombres': 1},
 {'genre': 'Réflexion - Stratégie', 'nombres': 2},
 {'genre': 'Stratégie temps réel (STR)', 'nombres': 1},
 {'genre': 'Survival Horror', 'nombres': 3},
 {'genre': 'TPS', 'nombres': 2},
 {'genre': 'Visual Novel', 'nombres': 2}]