In [2]:
import pandas as pd
import sqlite3
import requests, json

In [3]:
conn = sqlite3.connect('scrap_game.db')
c = conn.cursor()

In [4]:
c.execute("SELECT platform, COUNT(platform) FROM release_details GROUP BY platform;")
count = c.fetchall()

In [20]:
df = pd.read_sql_query("SELECT platform, COUNT(platform) FROM release_details GROUP BY platform;", conn)
df = df.rename(columns={'COUNT(platform)': 'pourcent', "platform" : "name"})
d = df.to_dict('records')

[{'name': 'Playstation 4 ', 'pourcent': 39},
 {'name': 'Playstation 5', 'pourcent': 5},
 {'name': 'Switch', 'pourcent': 33},
 {'name': 'XBOX s√©ries X', 'pourcent': 1},
 {'name': 'Xbox One', 'pourcent': 25}]

In [36]:
df2 = pd.read_sql_query("SELECT title, type, release_date, price, publisher, platform FROM games JOIN games_details ON games_details.game_id = games.id JOIN release_details ON release_details.game_id = games.id;", conn)
df2['release_date'] = pd.to_datetime(df2['release_date'], format='%d/%m/%Y', errors='coerce')
df2.info()

0     2020-11-10
1     2020-10-16
2     2020-10-16
3     2020-10-16
4     2020-12-31
         ...
98    2020-10-29
99    2020-10-29
100   2020-11-10
101   2020-11-10
102   2020-10-16
Name: release_date, Length: 103, dtype: datetime64[ns]